@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
   <input id="s1" type="radio" name="slide1" checked />
   <input id="s2" type="radio" name="slide1" />
   <input id="s3" type="radio" name="slide1" />

   <div class="sh__content">
       <div class="sh__item">
           <img src="~/Images/Natura1.png" alt="imgText" class="imgSlider" />
           <div class="sh__meta">
               <h4>Natura</h4>
               <span>
                   Te ayudamos a organizarte
                   <a href="#urlPage">link a Natura</a>
               </span>
           </div>
       </div>
       <div class="sh__item">
           <img src="~/Images/Natura3.png" alt="imgText" class="imgSlider" />
           <div class="sh__meta">
               <h4>Natura</h4>
               <span>
                   Sentirte bien es estarlo
               </span>
           </div>
       </div>
       <div class="sh__item">
           <img src="~/Images/Natura4.png" alt="imgText" class="imgSlider" />
           <div class="sh__meta">
               <h4>Natura</h4>
               <span>
                   Cuidate y cuidemos el mundo
               </span>
           </div>
       </div>
   </div>
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
    </div>
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
    </div>
</div>
